.product {
     display: flex;
     flex-direction: column;
     background-color: #fff;
     padding: .5em .25em;
     align-items: center;
     justify-content: space-between;
     gap: 1em;
     border-radius: .9em;
     position: relative;
     overflow: hidden;
}

.product-img {
     width: 100%;
     padding: .5em;
}

.product-img img {
     width: 100%;
     transition:  all .5s ease-in-out;
}

.hide {
     opacity: 0.1;
}

.product-description{
     color: var(--bColor);
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     padding: 1.5em;
     font-size: .7rem;
     line-height: 1.5em;
     opacity: 0;
     transition:  all .5s ease-in-out;
}

.show{
     opacity: 1;
}

.product-title {
     cursor: pointer;
}

.product-details {
     width: 100%;
     display: flex;
     padding: 0 .5em;
     justify-content: space-between;
}

.product-buttons {
     display: flex;
     width: 100%;
     padding: .5em 1em .8em 1em;
     justify-content: space-between;
}

.product-buttons button {
     font-size: 1.3rem;
     cursor: pointer;
     color: var(--bColor);
     background: none;
     transition:  all .3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .product-description{
     font-size: .8rem;
    }
}

@media screen and (min-width : 1370px) {
     .product-title,
     .product-price {
          font-size: 1.1rem;
     }
     .product-description{
          font-size: 1rem;
         }
}